/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.filters {
  background-color: #EE2222;
  color: white;
  padding: 30px;
}

.container {
  margin: 0;
  padding: 0 !important;
  width: auto !important;
  background-color: #C2C2C2;
}

.header {
  background: url('page_background.png');
  background-size: cover;
  font-family: 'Cambay', sans-serif;
  font-style: italic;
  color: white;
  height: 200px;
  text-align: center;
  margin:auto;
}

.logo {
  font-size: 5em;
  margin: 0;
  padding-top:60px;
}

.add-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.content {
  margin: auto;
  padding: 20px;
  width: 640px;
  min-height: 600px;
}

.not-found {
    margin: auto;
    padding: 20px;
    display: block;
    text-align: center;
}

.not-found img {
  width: 300px;
}

.new-container {
  background: url('page_background.png') no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.new-container .form {
  position:fixed;
  right:50%;
  width: 300px;
  height: 450px;
  margin: 150px -150px;
  background-color: white;
}

.new-container label {
  font-size: 12px;
}

.new-container form {
  margin: 0 30px;
  width: 240px;
}

.new-container h3 {
  font-size: 20px;
}

.new-container .checkbox {
  color: #DAC229
}

.new-container .btn {
  background-color: #DAC229;
  color: white;
  width: 50%;
}

.new-container a {
  color: #DAC229;
  float: right;
  padding-top: 8px;
}

.error {
  color: red;
  padding: 10px;
  text-align: center;
}
